.body{
  background-color: #fdf4dd
}
#header{
  background-color: #FFCDD2;
  text-align: center;
  color: #fdf4dd
}

#meny{
  text-align: center;
  background-color: #FFCDD2;
}

#main{
  background-color: #FFCDD2;
  width: 75vw;
  margin: auto;
}

#historia{
  background-color: #FFCDD2;
  width: 75vw;
  margin: auto;
}
